Repository odufour7/Shape: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-doxygen

mypy:
  name: mypy
  entry: mypy --strict
  language: python

check-doxygen:
  name: check-doxygen
  entry: ./check-doxygen.sh
  language: system
  pass_filenames: false

Updated code documentation for initialiseSetting()
  src/mechanical_layer/src/Crowd.cpp
Due: check-doxygen

Correction on active agents in Mechanical Layer when importing interactions from XML
  src/mechanical_layer/src/MechanicalLayer.cpp
Due: check-doxygen

correct tutorial mecha layer
  .gitignore
  docs/source/run_app_locally.rst
  pyproject.toml
  src/configuration/backup/dict_to_xml_and_reverse.py
  src/configuration/backup/xml_to_Chaos.py
  src/configuration/utils/constants.py
  tutorials/mechanical_layer/.gitkeep
  tutorials/mechanical_layer/AgentDynamics input t=0.0.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.1.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.2.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.3.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.4.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.5.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.6.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.7.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.8.xml
  tutorials/mechanical_layer/AgentDynamics input t=0.9.xml
  tutorials/mechanical_layer/multiple_runs.ipynb
  tutorials/mechanical_layer/multiple_runs.txt
  uv.lock
Due: mypy

correct tutorial mecha layer
  docs/source/index.rst
  docs/source/run_minimal_example.md
  docs/source/tutorials_minimal_example_mechanical_layer.nblink
  src/configuration/backup/xml_to_Chaos.py
  tutorials/mechanical_layer/multiple_runs.ipynb
Due: mypy

correction doc
  docs/source/conf.py
Due: mypy

correction doc
  .gitignore
Due: none

correct docstring
  .pre-commit-config.yaml
  pyproject.toml
  tests/configuration/backup/test_boundaries.py
  tests/configuration/backup/test_dynamic.py
  tests/configuration/backup/test_materials.py
  tests/configuration/backup/test_static.py
  uv.lock
Due: mypy

correct docstring
  docs/source/conf.py
  requirements.txt
Due: mypy

correct docstring
  pyproject.toml
  src/streamlit_app/app/documentation.py
  src/streamlit_app/app/ui.py
  src/streamlit_app/tabs/one_agent_2D.py
  uv.lock
Due: mypy

correct docstring
  requirements.txt
Due: none

Added Dev Container Folder
  .devcontainer/devcontainer.json
Due: none

correct docstring
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

correct doc
  docs/source/run_app_locally.rst
Due: none

correct doc
  src/streamlit_app/tabs/crowd_creation_tab.py
Due: mypy

update mecha tutorial files dynamic
  tutorials/mechanical_layer/dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/multiple_runs.ipynb
  tutorials/mechanical_layer/static/Agents.xml
Due: none

correct tuto mecha layer intro
  tutorials/mechanical_layer/multiple_runs.ipynb
Due: none

Untrack files that are now in .gitignore
  docs/doxy_files/xml/Doxyfile.xml
  docs/doxy_files/xml/_agent_8cpp.xml
  docs/doxy_files/xml/_agent_8h.xml
  docs/doxy_files/xml/_crowd_8cpp.xml
  docs/doxy_files/xml/_crowd_8h.xml
  docs/doxy_files/xml/_crowd_mechanics_8h.xml
  docs/doxy_files/xml/_global_8cpp.xml
  docs/doxy_files/xml/_global_8h.xml
  docs/doxy_files/xml/_input_static_8cpp.xml
  docs/doxy_files/xml/_input_static_8h.xml
  docs/doxy_files/xml/_main_8cpp.xml
  docs/doxy_files/xml/_mechanical_layer_8cpp.xml
  docs/doxy_files/xml/_mechanical_layer_8h.xml
  docs/doxy_files/xml/dir_68267d1309a1af8e8297ef4c3efbcdba.xml
  docs/doxy_files/xml/index.xml
  docs/doxy_files/xml/struct_agent.xml
  docs/doxy_files/xml/struct_mechanical_layer.xml
  docs/source/api/file_include_Global.h.rst
  docs/source/api/file_src_Global.cpp.rst
  docs/source/api/program_listing_file_include_Agent.h.rst
  docs/source/api/program_listing_file_include_Crowd.h.rst
  docs/source/api/program_listing_file_include_CrowdMechanics.h.rst
  docs/source/api/program_listing_file_include_Global.h.rst
  docs/source/api/program_listing_file_include_InputStatic.h.rst
  docs/source/api/program_listing_file_include_MechanicalLayer.h.rst
  docs/source/api/program_listing_file_src_Agent.cpp.rst
  docs/source/api/program_listing_file_src_Crowd.cpp.rst
  docs/source/api/program_listing_file_src_Global.cpp.rst
  docs/source/api/program_listing_file_src_InputStatic.cpp.rst
  docs/source/api/program_listing_file_src_Main.cpp.rst
  docs/source/api/program_listing_file_src_MechanicalLayer.cpp.rst
Due: none

correct documentation tests (titles and order) and add some link
  docs/source/api/file_include_Global.h.rst
  docs/source/api/file_src_Global.cpp.rst
  docs/source/configuration.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/run_app_locally.rst
  docs/source/source.rst
  docs/source/tests.configuration.rst
  docs/source/tests.mechanical_layer.rst
  docs/source/tests.rst
  pyproject.toml
  tutorials/mechanical_layer/multiple_runs.ipynb
Due: none

correct to match mypy recom
  docs/doxy_files/xml/Doxyfile.xml
  docs/doxy_files/xml/_agent_8cpp.xml
  docs/doxy_files/xml/_agent_8h.xml
  docs/doxy_files/xml/_crowd_8cpp.xml
  docs/doxy_files/xml/_crowd_8h.xml
  docs/doxy_files/xml/_crowd_mechanics_8h.xml
  docs/doxy_files/xml/_global_8cpp.xml
  docs/doxy_files/xml/_global_8h.xml
  docs/doxy_files/xml/_input_static_8cpp.xml
  docs/doxy_files/xml/_input_static_8h.xml
  docs/doxy_files/xml/_main_8cpp.xml
  docs/doxy_files/xml/_mechanical_layer_8cpp.xml
  docs/doxy_files/xml/_mechanical_layer_8h.xml
  docs/doxy_files/xml/dir_68267d1309a1af8e8297ef4c3efbcdba.xml
  docs/doxy_files/xml/index.xml
  docs/doxy_files/xml/struct_agent.xml
  docs/doxy_files/xml/struct_mechanical_layer.xml
  src/streamlit_app/app/documentation.py
  src/streamlit_app/app/ui.py
  src/streamlit_app/tabs/crowd_creation_tab.py
  src/streamlit_app/tabs/one_agent_2D.py
  src/streamlit_app/tabs/one_agent_tab.py
Due: mypy

New version with flag to load static data
  src/mechanical_layer/include/Agent.h
  src/mechanical_layer/include/Crowd.h
  src/mechanical_layer/include/Global.h
  src/mechanical_layer/include/InputStatic.h
  src/mechanical_layer/include/MechanicalLayer.h
  src/mechanical_layer/src/Agent.cpp
  src/mechanical_layer/src/Crowd.cpp
  src/mechanical_layer/src/Global.cpp
  src/mechanical_layer/src/InputStatic.cpp
  src/mechanical_layer/src/Main.cpp
  src/mechanical_layer/src/MechanicalLayer.cpp
  tests/mechanical_layer/create_scenario_anisotropic.py
Due: mypy, check-doxygen

Coding guidelines
  src/mechanical_layer/include/Agent.h
  src/mechanical_layer/include/Global.h
  src/mechanical_layer/src/Agent.cpp
  src/mechanical_layer/src/Crowd.cpp
  src/mechanical_layer/src/InputStatic.cpp
  src/mechanical_layer/src/Main.cpp
  src/mechanical_layer/src/MechanicalLayer.cpp
Due: check-doxygen

Test of mechanical layer: python GUI
  tests/mechanical_layer/ScenarioGUI.py
  tests/mechanical_layer/dynamic/AgentDynamics.xml
  tests/mechanical_layer/static/Agents.xml
  tests/mechanical_layer/static/Geometry.xml
Due: mypy

Corrected bug with agents counter
  tests/mechanical_layer/ScenarioGUI.py
Due: mypy

Mechanical layer: upgrade of Oscar following D.R. Vyas, J.M. Ottino, R.M. Lueptow et al. 2025
  src/mechanical_layer/src/MechanicalLayer.cpp
Due: check-doxygen

add university lyon 1 to the copyright
  CITATION.cff
  src/configuration/backup/crowd_to_dict.py
  src/configuration/backup/crowd_to_zip_and_reverse.py
  src/configuration/backup/dict_to_xml_and_reverse.py
  src/configuration/backup/xml_to_Chaos.py
  src/configuration/data/datafactory.py
  src/configuration/models/agents.py
  src/configuration/models/crowd.py
  src/configuration/models/initial_agents.py
  src/configuration/models/measures.py
  src/configuration/models/shapes2D.py
  src/configuration/models/shapes3D.py
  src/configuration/utils/constants.py
  src/configuration/utils/functions.py
  src/configuration/utils/typing_custom.py
  tests/configuration/test_backup_boundaries.py
  tests/configuration/test_backup_dynamic.py
  tests/configuration/test_backup_interactions.py
  tests/configuration/test_backup_materials.py
  tests/configuration/test_backup_static.py
  tests/configuration/test_backup_zip.py
  tests/configuration/test_compute_bideltoid_breadth_from_multipolygon.py
  tests/configuration/test_compute_chest_depth_from_multipolygon.py
  tests/configuration/test_compute_moment_of_inertia.py
  tests/configuration/test_crowd_with_custom_statistics.py
  tests/configuration/test_from_string_to_tuple.py
  tests/configuration/test_measuring_agent.py
  tests/configuration/test_rotate_vectors.py
  tests/configuration/test_rotation.py
  tests/configuration/test_translation.py
  tests/configuration/test_wrap_angle.py
Due: mypy

correction ScenarioGUI to match mypy requirements and add instructions
  tests/mechanical_layer/ScenarioGUI.txt
  tests/mechanical_layer/ScenarioGUI_mypy_correction.py
  tests/mechanical_layer/dynamic/AgentDynamics.xml
  tests/mechanical_layer/instructions.md
  tests/mechanical_layer/static/Agents.xml
  tests/mechanical_layer/static/Geometry.xml
Due: mypy

correction ScenarioGUI to match mypy requirements and add instructions
  .gitignore
  tests/mechanical_layer/dynamic/AgentDynamics.xml
  tests/mechanical_layer/static/Agents.xml
  tests/mechanical_layer/static/Geometry.xml
Due: none

correction requirements
  tests/mechanical_layer/ScenarioGUI.txt
  tests/mechanical_layer/ScenarioGUI_mypy_correction.py
Due: mypy

correction doc
  docs/source/tests.mechanical_layer.rst
  docs/source/tutorials_tests_mechanical_layer.md
  tests/mechanical_layer/Parameters.xml
  tests/mechanical_layer/ScenarioGUI.py
  tutorials/mechanical_layer/dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/multiple_runs.ipynb
Due: mypy

correction of path to run test of mechanical layer
  pyproject.toml
  tests/mechanical_layer/Parameters.xml
  tests/mechanical_layer/ScenarioGUI.py
  uv.lock
Due: mypy

correction of path to run test of mechanical layer
  tests/mechanical_layer/ScenarioGUI.py
Due: mypy

Create .gitattributes
  .gitattributes
Due: none

Path conditions:
  mypy: any of: \.py$ and \.py$
  check-doxygen: any of: \.(h|hpp|cpp|c)$
