Repository odufour7/Shape: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-doxygen

mypy:
  name: mypy
  entry: mypy --strict
  language: python

check-doxygen:
  name: check-doxygen
  entry: ./check-doxygen.sh
  language: system
  pass_filenames: false

correct crowd generation from custom setting with bikes on grid, ad a grid size for bike so that they dont overlapp
  .pre-commit-config.yaml
  src/configuration/models/crowd.py
  src/configuration/utils/constants.py
  src/streamlit_app/app/ui.py
  src/streamlit_app/tabs/crowd_creation_tab.py
  src/streamlit_app/utils/constants.py
Due: mypy

correct crow tab , run crowd from config files, there was twice the same line at the end of the .py file
  src/streamlit_app/tabs/crowd_creation_tab.py
Due: mypy

add 'use_container_width=True' to anthropometry_tab
  src/streamlit_app/tabs/anthropometry_tab.py
Due: mypy

fill tab about
  data/images/contact_mecha_spring.png
  data/images/coupling.png
  data/images/coverage.png
  data/images/coverage_explanation.png
  data/images/measure_ped.png
  src/streamlit_app/app/documentation.py
Due: mypy

correct photos in about tab
  data/images/coupling.png
  data/images/coverage.png
Due: none

correct photos in about tab
  data/images/coupling.png
Due: none

correct eq in about tab
  data/images/coupling.png
Due: none

shapes to LEMON
  README.md
  docs/source/_static/logo/logo_app.png
  docs/source/_static/logo/logo_doc.png
  docs/source/conf.py
  docs/source/index.rst
  docs/source/source.rst
  src/streamlit_app/app/ui.py
Due: mypy

shapes to LEMON
  docs/source/_static/logo/art_light.png
  docs/source/_static/logo/art_light_logo_app.png
Due: none

shapes to LEMON
  docs/source/conf.py
  docs/source/index.rst
  docs/source/source.rst
Due: mypy

improve about tab and correct the picture of the mechanical contact with springs
  data/images/contact_mecha_spring.png
  src/streamlit_app/app/documentation.py
Due: mypy

improve about tab and correct the picture of the mechanical contact with springs
  README.md
  docs/source/source.rst
Due: none

correct icon path into README.md file
  README.md
Due: none

correct software title
  README.md
  docs/source/source.rst
Due: none

Include of cstdint is not always automatic
  src/mechanical_layer/include/Global.h
Due: check-doxygen

Path conditions:
  mypy: any of: \.py$ and \.py$
  check-doxygen: any of: \.(h|hpp|cpp|c)$
