Repository odufour7/Shape: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-doxygen

mypy:
  name: mypy
  entry: mypy --strict
  language: python

check-doxygen:
  name: check-doxygen
  entry: ./check-doxygen.sh
  language: system
  pass_filenames: false

add doc c++
  docs/source/conf.py
  docs/source/configuration.rst
  docs/source/streamlit_app.rst
Due: mypy

correct minimal example doc
  docs/source/api/library_root.rst
  docs/source/run_minimal_example.md
  src/streamlit_app/app/app.py
Due: mypy

remove sub element in creation of Agents.xml file
  src/configuration/backup/dict_to_xml_and_reverse.py
Due: mypy

Simpler and more explicit run instructions for the mechanical layer
  docs/source/run_mechanical_layer.md
Due: none

Added build instructions for Windows
  docs/source/installation.rst
Due: none

(Functional) Removed default materials as those are provided in the streamlit app. Users HAVE to provide their materials
  src/mechanical_layer/include/Global.h
  src/mechanical_layer/src/InputStatic.cpp
Due: check-doxygen

(Functional) Removed ids for shapes in input xml files. Shapes are now identified exactly as wall corners, in the order they were given.
  src/mechanical_layer/include/Global.h
  src/mechanical_layer/src/Global.cpp
  src/mechanical_layer/src/InputStatic.cpp
  src/mechanical_layer/src/MechanicalLayer.cpp
Due: check-doxygen

merge Maxime and Oscar
  src/configuration/models/crowd.py
  src/streamlit_app/tabs/crowd_creation_tab.py
  src/streamlit_app/utils/constants.py
Due: mypy

correct pack agents on a grid to have a square like rectangle
  data/xml/crowd2D_ANSURII.zip
  data/xml/crowd2D_ANSURII_tutorial/AgentDynamics.xml
  data/xml/crowd2D_ANSURII_tutorial/Agents.xml
  data/xml/crowd2D_ANSURII_tutorial/Geometry.xml
  data/xml/crowd2D_ANSURII_tutorial/Materials.xml
  data/xml/crowd_ANSURII_tutorial/AgentDynamics.xml
  data/xml/crowd_ANSURII_tutorial/Agents.xml
  data/xml/crowd_ANSURII_tutorial/Materials.xml
  data/xml/crowd_custom.zip
  src/configuration/models/crowd.py
  src/configuration/utils/constants.py
  tutorials/mechanical_layer/Dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/Dynamic/AgentInteractions.xml
  tutorials/mechanical_layer/Parameters.xml
  tutorials/mechanical_layer/Static/Agents.xml
  tutorials/mechanical_layer/Static/Geometry.xml
  tutorials/mechanical_layer/Static/Materials.xml
  tutorials/mechanical_layer/run_mechanical_layer.py
  tutorials/shapes_configuration/create2Dped.ipynb
  tutorials/shapes_configuration/create_crowd_ANSURII.ipynb
  tutorials/shapes_configuration/create_crowd_custom_statistics.ipynb
  tutorials/shapes_configuration/read_configuration_files.ipynb
Due: mypy

add and correction of thest of mechanical layer
  .pre-commit-config.yaml
  pyproject.toml
  tests/mechanical_layer/Parameters.xml
  tests/mechanical_layer/create_scenario_anisotropic.py
  tests/mechanical_layer/dynamic/AgentDynamics.xml
  tests/mechanical_layer/dynamic/AgentInteractions.xml
  tests/mechanical_layer/static/Agents.xml
  tests/mechanical_layer/static/Geometry.xml
  tests/mechanical_layer/static/Materials.xml
  tutorials/mechanical_layer/run_mechanical_layer.py
  uv.lock
Due: mypy

add and correction of thest of mechanical layer
  tests/mechanical_layer/create_scenario_anisotropic.py
Due: mypy

correct doc mecha layer
  docs/doxy_files/xml/_global_8cpp.xml
  docs/doxy_files/xml/_global_8h.xml
  docs/doxy_files/xml/_input_static_8cpp.xml
  docs/doxy_files/xml/_input_static_8h.xml
  docs/doxy_files/xml/_mechanical_layer_8cpp.xml
  docs/doxy_files/xml/index.xml
  docs/doxy_files/xml/struct_mechanical_layer.xml
  docs/source/api/file_include_Global.h.rst
  docs/source/api/file_src_Global.cpp.rst
  docs/source/api/program_listing_file_include_Agent.h.rst
  docs/source/api/program_listing_file_include_Crowd.h.rst
  docs/source/api/program_listing_file_include_CrowdMechanics.h.rst
  docs/source/api/program_listing_file_include_Global.h.rst
  docs/source/api/program_listing_file_include_InputStatic.h.rst
  docs/source/api/program_listing_file_include_MechanicalLayer.h.rst
  docs/source/api/program_listing_file_src_Agent.cpp.rst
  docs/source/api/program_listing_file_src_Crowd.cpp.rst
  docs/source/api/program_listing_file_src_Global.cpp.rst
  docs/source/api/program_listing_file_src_InputStatic.cpp.rst
  docs/source/api/program_listing_file_src_Main.cpp.rst
  docs/source/api/program_listing_file_src_MechanicalLayer.cpp.rst
  docs/source/api/unabridged_api.rst.include
  docs/source/api/variable__global_8cpp_1a2d4dde640507c44696ac86eeac30cc46.rst
  docs/source/api/variable__global_8cpp_1aeec3b5ebec2f8182b085aa4d7a009b04.rst
  docs/source/api/variable__global_8h_1a0fc383055f833df58d0b2c90155f4298.rst
  docs/source/api/variable__global_8h_1a17de3a8a5c900b7b8847cf9b4db36653.rst
  docs/source/api/variable__global_8h_1a1ad62af702fdf4317ff014bb308d6382.rst
  docs/source/api/variable__global_8h_1a568583de2be59593b9ea58dfd98162fe.rst
  docs/source/api/variable__global_8h_1a64c3a2e0854813c20a4d0e701d208e5c.rst
  docs/source/api/variable__global_8h_1a684b17f4a98db099e58d9edd8cef03a9.rst
  docs/source/api/variable__global_8h_1a72ae67a1be77382f01729a4f8a4b58a8.rst
  docs/source/api/variable__global_8h_1a8e6c911cef1f465fcff2718db4f169f3.rst
  docs/source/api/variable__global_8h_1a99b9faf61db1d311fde7fa7f9fe00200.rst
  docs/source/api/variable__global_8h_1ab0ca98e75ec6854bcad6013ed9625bf7.rst
  docs/source/api/variable__global_8h_1adb90cf3779bd23a58acfbfa2b3a73560.rst
  docs/source/api/variable__global_8h_1adf53a33be7343d5fb8c32588235d7b5f.rst
  docs/source/api/variable__global_8h_1ae2992a497c7df6e0b9dbfaa4a8d61bae.rst
  docs/source/api/variable__global_8h_1aed0d50e2b0fea06e1d473382f8c9a16d.rst
  docs/source/api/variable__global_8h_1af99b3f66b10ab07303fe631c71cf10ad.rst
  src/mechanical_layer/src/InputStatic.cpp
Due: check-doxygen

correct doc mecha layer
  .pre-commit-config.yaml
Due: none

correct vocabulary in tutorial notebook
  requirements.txt
  src/configuration/models/crowd.py
  tutorials/shapes_configuration/create_crowd_ANSURII.ipynb
Due: mypy

correct c++
  docs/doxy_files/xml/_agent_8cpp.xml
  docs/doxy_files/xml/_mechanical_layer_8cpp.xml
  src/mechanical_layer/.gitkeep
  src/mechanical_layer/src/Agent.cpp
  src/mechanical_layer/src/MechanicalLayer.cpp
  tests/mechanical_layer/.gitkeep
  tests/mechanical_layer/create_scenario_anisotropic.py
  tests/mechanical_layer/dynamic/AgentDynamics.xml
  tests/mechanical_layer/static/Agents.xml
  tests/mechanical_layer/static/Geometry.xml
  tutorials/mechanical_layer/.gitkeep
Due: mypy, check-doxygen

correct c++
  docs/doxy_files/xml/_crowd_8cpp.xml
  docs/source/use_mechanical_layer.md
  src/mechanical_layer/src/Crowd.cpp
Due: check-doxygen

correct vulnerability tornado
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

correct vulnerability h11
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

add create agent and save to xml to test of mecha layer
  src/configuration/backup/crowd_to_dict.py
  src/configuration/models/measures.py
  tests/mechanical_layer/create_scenario_anisotropic.py
  tests/mechanical_layer/dynamic/AgentDynamics.xml
  tests/mechanical_layer/static/Agents.xml
  tests/mechanical_layer/static/Geometry.xml
Due: mypy

add create agent and save to xml to test of mecha layer
  src/configuration/models/shapes2D.py
Due: mypy

correct draw agent in test mecha layer
  .pre-commit-config.yaml
  tests/mechanical_layer/create_scenario_anisotropic.py
  tests/mechanical_layer/dynamic/AgentDynamics.xml
  tests/mechanical_layer/static/Agents.xml
  tests/mechanical_layer/static/Geometry.xml
Due: mypy

correct draw agent in test mecha layer
  .pre-commit-config.yaml
  tests/shapes_configuration/backup/test_materials.py
Due: mypy

add test doc
  docs/source/conf.py
Due: mypy

Correction output Kinematics of agents following renaming of theta/omega
  src/mechanical_layer/src/Crowd.cpp
Due: check-doxygen

shift crowd creation with boundaries so that the minimum x and y coordinates are at (0,0)
  src/configuration/backup/crowd_to_dict.py
  src/configuration/models/crowd.py
  src/configuration/utils/constants.py
  src/streamlit_app/tabs/crowd_creation_tab.py
  tests/mechanical_layer/create_scenario_anisotropic.py
  tutorials/mechanical_layer/Dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/Dynamic/AgentInteractions.xml
  tutorials/mechanical_layer/Parameters.xml
  tutorials/mechanical_layer/Static/Agents.xml
  tutorials/mechanical_layer/Static/Geometry.xml
  tutorials/mechanical_layer/Static/Materials.xml
  tutorials/mechanical_layer/run_mechanical_layer.py
Due: mypy

keep tutorial mecha layer
  tutorials/mechanical_layer/.gitkeep
Due: none

correct overall README
  README.md
Due: none

from MIT to CeCILL-B licence
  LICENSE.txt
Due: none

update crowd from files, update the plot
  src/streamlit_app/tabs/crowd_creation_tab.py
Due: mypy

Upgraded the mechanical shared library for multiple runs + correction AgentInteractions.xml
  src/mechanical_layer/CMakeLists.txt
  src/mechanical_layer/include/Agent.h
  src/mechanical_layer/include/Crowd.h
  src/mechanical_layer/include/Global.h
  src/mechanical_layer/src/Agent.cpp
  src/mechanical_layer/src/Crowd.cpp
  src/mechanical_layer/src/Global.cpp
  src/mechanical_layer/src/Main.cpp
  src/mechanical_layer/src/MechanicalLayer.cpp
Due: check-doxygen

Added tutorial for multiple runs of the mechanical layer in Python + export to ChAOS
  tutorials/mechanical_layer/multiple_runs.py
Due: mypy

Added tutorial for multiple runs of the mechanical layer in Python + export to ChAOS
  tutorials/mechanical_layer/Parameters.xml
  tutorials/mechanical_layer/dynamic/AgentDynamics.xml
  tutorials/mechanical_layer/multiple_runs.py
  tutorials/mechanical_layer/static/Agents.xml
  tutorials/mechanical_layer/static/Geometry.xml
  tutorials/mechanical_layer/static/Materials.xml
Due: mypy

No interaction files at all if no interactions, rather than empty file
  src/mechanical_layer/src/MechanicalLayer.cpp
  tests/mechanical_layer/dynamic/AgentInteractions.xml
Due: check-doxygen

Added code documentation for new function updateSetting()
  src/mechanical_layer/src/Crowd.cpp
Due: check-doxygen

Path conditions:
  mypy: any of: \.py$ and \.py$
  check-doxygen: any of: \.(h|hpp|cpp|c)$
